<mat-card>
  <mat-card-title>Product form</mat-card-title>
  <mat-card-content>
    <form [formGroup]="product" (ngSubmit)="onProductSubmitted(product)">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            placeholder="title"
            formControlName="title"
            required
          />
          <mat-error *ngIf="product.get('title')!.invalid"
            >Title is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input
            matInput
            type="text"
            placeholder="price"
            formControlName="price"
            required
          />
          <mat-error *ngIf="product.get('price')!.invalid"
            >price is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input
            matInput
            type="text"
            placeholder="description"
            formControlName="description"
            required
          />
          <mat-error *ngIf="product.get('description')!.invalid"
            >Description is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Image</mat-label>
          <input
            matInput
            type="text"
            placeholder="image"
            formControlName="image"
            required
          />
          <mat-error *ngIf="product.get('image')!.invalid"
            >Description is invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Category" formControlName="category">
            <div class="move">
              <mat-option
                *ngFor="let item of category$ | async"
                value="{{ item }}"
              >
                {{ item }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
